<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>5549a11596ef4090a58e7cbbdf54c868</string>
	<key>ClientSecret</key>
	<string>9430ad6e6c174b0eb5b72e424f59af11</string>
	<key>URI</key>
	<string>mxhacks3-login://callback</string>
</dict>
</plist>
